* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    opacity: 0.5;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background:
        linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    color: #040404;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    color: #660792;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .2s;
}

.title {
    text-align: center;
}

.main-container {
    display: flex;
}

.myPhoto {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1440px;
}

.about {
    padding-right: 50px;
    font-size: 15px;
    line-height: 1.3;
}

.aboutMe {
    padding-right: 30px;
}

.skills-list {
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
}

.level {
    margin: 4px;
    padding: 0;
    height: 7px;
    background-color: gainsboro;
}

.level div {
    margin: 0px;
    height: 7px;
    background-color: rgb(178, 118, 184);
}

.graduation1 {
    width: 70%;
}

.graduation2 {
    width: 50%;
}

.graduation3 {
    width: 20%;
}

.footer-container {
    padding: 20px;
    border-top: solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}